<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"> -->

      <h1> Please, fill inputs next</h1>
      <%= simple_form_for @restaurant do |f| %>

            <% if @restaurant.errors.any? %>
              <!-- <div class="errors-container"> -->
              <ul>
                <% @restaurant.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
              </ul>
              <!-- </div> -->
              <% end %>
        <%= f.input :name %>
        <%= f.input :category, collection: Restaurant::CATEGORIES %>
        <%= f.input :address %>
        <%= f.input :phone_number , input_html: {placeholder: "As you want"}%>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
<%= link_to "Back", restaurants_path %>
 <!--    </div>
  </div>
</div> -->

<!--
{
    name:         'Café des Arts',
    address:      '138 Cours Victor Hugo, 33000 Bordeaux',
    phone_number: '05 56 91 78 46',
    category:     'french'
  }, -->
